@import 'core.scss';

@font-face{font-family:FontLarisome;src:url('../fonts/font-larisome-webfont.eot');src:url('../fonts/font-larisome-webfont.eot?#iefix')format('embedded-opentype'),url('../fonts/font-larisome-webfont.woff2')format('woff2'),url('../fonts/font-larisome-webfont.woff')format('woff'),url('../fonts/font-larisome-webfont.ttf')format('truetype'),url('../fonts/font-larisome-webfont.svg#_bpg_gelregular')format('svg');font-weight:400;font-style:normal}.lari{display:inline-block;font:normal normal normal 14px/1 FontLarisome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}.lari-a:before,.lari-normal:before{content:'a'}.lari-b:before,.lari-bold:before{content:'b'}.lari-bolder:before,.lari-c:before{content:'c'}.lari-d:before,.lari-narrow-sans:before{content:'d'}.lari-e:before,.lari-narrow-serif:before{content:'e'}.lari-f:before,.lari-thin-sans:before{content:'f'}.lari-g:before,.lari-thin-serif:before{content:'g'}.lari-h:before,.lari-serif:before{content:'h'}.lari-i:before,.lari-sans:before{content:'i'}.lari-j:before,.lari-narrow-sans-bold:before{content:'j'}.lari-k:before,.lari-narrow-sans-thin:before{content:'k'}.lari-comic:before,.lari-l:before,.lari-wtf:before{content:'l'}.lari-m:before,.lari-square-round:before{content:'m'}.lari-n:before,.lari-square-plain:before{content:'n'}.lari-o:before,.lari-square-narrow-plain:before{content:'o'}.lari-p:before,.lari-square-narrow:before{content:'p'}


.nav li{
	font-family: 'Studio-02' !important;
}
a:hover{
	text-decoration:none;
}

i{ font-style: normal; }
.btn{
	border-radius:2px;
}

.btn.focus, .btn:focus, .btn:hover {
    color: inherit;
}

.fixed-elem{
   position:fixed !important;
   top: 52px !important;
}

html,body{
    background: #EFF3F6;
   
}

header .container{
	padding:20px 0;
}


.app-rank-header{
	background: #1bad8d;
	color: #fff;
	padding: 8px 16px;
	float: left;
	margin-bottom: 10px;
	margin-top: 25px;
}


header{
	background: #fff;
	.logo{
	    background: url('../images/logo.svg');
	    float: left;
	    width: 205px;
	    height: 60px;
	}

	nav{
		margin-top: 19px;
		a{
			margin-right: 16px;
			font-size: 18px !important;
			color: #42847d;
			margin-top: -5px;
		}
	}
}


.language-swither{
	margin-top: 18px;
	a{
		background:#F5F6FA;
		color:#8a8a8a;
		padding: 5px 9px 2px 9px;
		float: left;
		font-size: 13px;
	}

	:first-child{
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}

	:last-child{
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}

	.active{
		background:#63B9AE;
		color:#FFFFFF;
	}
}

.radio-switcher{
	border: 1px solid #3FA095;
	border-radius: 2px;
	float: left;
	font-size: 13px;
	input{
		display: none;
	}
	.switcher{
		font-weight: 100;
		cursor: pointer;
		margin-bottom: 0;
		padding: 3px 8px 0px 8px;
		float:left;
	}
	.active{
		background: #3FA095;
		
	}
}


.user-area{
	float: right;
	margin-top: -12px;
	&.loged{
		a{
			font-size: 13px !important;
		}
	}
	.text{
		float:left;
		color:#16547d;
		text-align: justify;
		margin-right: 20px;
		margin-top: 7px;
		a{
			margin-right: 0;
		}
	}
	a{
		font-family: 'Studio-02';
		color:#16547d;
		font-size: 18px;
	}
}


.search-area{
	background: rgb(99, 185, 174);
	color:#fff;
	a{
		color:#fff;
	}
	h2{
		font-size: 22px;
	}
	.detail-search-link{
		float: right;
		margin-top: 6px;
		margin-bottom: 5px;
	}

	.detail-search-link:after{
		content: '';
		background: $sprite;
		background-position: -6px -66px;
		float: right;
		width: 17px;
		height: 16px;
		margin-left: 6px;	
	}
	.separator{
		border-bottom: 1px solid rgba(255, 255, 255, 0.37);
		position: relative;
		width: 110%;
		top: 0px;
		left: -5%;
		float: left;
		margin-bottom: 7px;
	}
	.head{
		padding:5px 0;
	}
	.row{
		margin-bottom:6px;
		margin-top: 6px;
	}
	.detail-search{
		display: none;
		.separator2{
			border-top: 1px solid #9DD3CC;
			width: 100%;
		}
		h5{
			margin-top: 0;
		}
		.btns{
			width: 198px;
			margin: 20px auto;
			.btn{
				font-size:16px;
				padding: 8px 22px 6px;
				margin-left: 14px;
				margin-right: 14px;

			}
		}
		
	}
}

.fixed-search-area{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    .row{
		margin-bottom:0;
		margin-top:0;
	}
	.option-group{
		margin: 7px 0;
	}
}

#search-btn{
    background: #3FA095;
    padding: 5px 18px;
    width: 122px;
    float: right;
}



.option-group{
	margin:12px 0;
	float: left;
	width: 100%;

	.room-select{
		position:relative;
		label i{
			background:$sprite;
			background-position: -72px -74px;
			float: left;
			margin-left: 8px;
			width: 10px;
			height: 10px;
		}
		.wrapper{
			position:absolute;
			font-weight: bold;
			width: 200px;
			background:#63B9AE;
			top: 73px;
			left: 0;
			z-index: 2;
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
			padding: 8px 12px;
			font-family: 'Studio-02';
			border-top: 1px solid #54AFA5;
			box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.26);

			opacity: 0;
			visibility: hidden;
			transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out;
			-webkit-transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out;
			-moz-transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out;
			-ms-transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out;
			-o-transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			&.open{
				visibility: visible;
				opacity: 1;
			}

			input{
				width: 56px;
				height: 28px;
				background: #63B9AE;
				color: #fff;
				padding: 5px 4px;
				border: 1px solid #3EA095;
				border-radius: 2px;
				margin-right: 5px;
				margin-bottom: 8px;
			}

		}
	}

	.room{
		font-size: 18px;
	    font-family: 'Studio-02' !important;
	    cursor: pointer;
	}
	.caption{
		font-size: 12px;
		margin-bottom: 3px;
		float: left;
		width: 100%;
	}
	.leftLabel,.rightLabel{
		// width: 50%;
		float: left;
		padding: 3px 4px 0px 4px;
		border-radius:2px;
		font-size: 16px;
		width: 63px;
		border: 1px solid rgb(63, 160, 149);
		
		&:hover{
			
		}
		
		input{
			background: transparent;
			//padding: 6px 0px 1px 6px;
			float: left;
			border:none;
			width: 75%;
			padding-right: 4px;
			&:focus {
				outline: none;
    		}
		}
	}
	.nstSlider{
		float: left;
		width: 47%;
		margin: 6px 6px;
		&:after{
			content: "";
			background: #C1E3DF;
			display: block;
			margin-top: 6px;
			height: 4px;
			width: 100%;
			border-radius: 4px;
		}
		.rightGrip, .leftGrip{
			width: 13px;
			height: 13px;
			margin-top: 1px;
		}
		.bar {
		    height: 4px;
		    top: 6px;
		}
		.rightGrip{
			margin-left: 2px;
		}
	}
	&.free{
		margin: 7px 0;
	}
}


//buttons
.btn-party{
	background: #3FA095;
	// width: 112px;
	// height: 77px;
	font-family: 'glaho' !important;
	font-size: 12px;
	float: left;
	padding: 4px 13px;
	span{
		margin-top: 7px;
		float: left;
		margin-left: 7px;
	}
	&:before{
		content:'';
		background: $sprite;
		background-position: -33px -62px;
		float:left;
		width: 31px;
		height: 33px;
	}
}

.btn.style-1{
	background: #63B9AE;
    border: 1px solid #3FA095;
}



.block-items{

	.item .caption{
		font-family: 'Studio-02';
	}
	a:hover{
		text-decoration: none;
	}
	a{
		float: left;
		overflow: hidden
	}

	&.style-1{
		padding-top: 25px;
		.info-block{
			padding-top: 20px;
			background: #fff;
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
			box-shadow: 0px 1px 4px rgba(167, 167, 167, 0.55);
			ul{
				margin: auto;
				display: table;
			    padding: 0;
			    
			}
			li{
				float: left;
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 4px;
				border-left: 1px solid #acacac;
				font-size: 14px;
				color: #acacac;
				margin-bottom: 20px;
				&:first-child{
			    	border-left:0;
			    }
			}
			h4{
				margin-top: 0;
				font-size: 16px;
				text-align: center;
				padding-bottom: 15px;
				margin-bottom: 0;
				color:#333;
			}
		}

		.item{
			margin-bottom: 25px;
			.preview-img{
				position: relative;
				img{
					width: 100%;
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;
				}
			}
			&.banner img{ //temp
				width: 100%;
				height: 324px;
			}

			.caption{
				color: #fff;
				padding: 5px 12px 4px 12px;
				position: absolute;
				bottom: 7px;
				right: 9px;
			}

			&.daily{
				.info-block{
					border-top: 5px solid #36AC94;
				}
				.caption{
					background: rgba(54, 172, 148, 0.9);
				}
			}
			&.hourly{
				.info-block{
					border-top: 5px solid #3D9BDB;
				}
				.caption{
					background: rgba(61, 155, 219, 0.9);
				}
			}
			&.daily-hourly{
				.info-block{
					border-top: 5px solid #9DCC54;
				}
				.caption{
					background: rgba(157, 204, 84, 0.9);
				}
			}
		}// item

	}//style-1

	&.style-2{
		 padding-top: 25px;
		.item{
			border-radius:2px;
			margin-bottom: 25px;
			.preview-img{
				float: left;
				width: 40%;
				img{
					width: 100%;
					height: 123px;
					border-top-left-radius: 2px;
					border-bottom-left-radius: 2px;
				}
			}
			&.banner img{ //temp
				width: 100%;
				height: 324px;
			}
			h4{
				margin:0;
				padding: 25px;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 16px;
				min-height: 87px
			}

			.info-block{
				border-top-right-radius: 2px;
				width: 60%;
				background: #fff;
				float: left;
				text-align: center;
				
			}
			.caption{
				text-align: center;
				padding: 8px 12px 8px 12px;
				border-bottom-right-radius: 2px;
				color: #fff;
			}

			&.daily{
				.caption{
					background: rgba(54, 172, 148, 0.9);
				}
			}
			&.hourly{
				.caption{
					background: rgba(61, 155, 219, 0.9);
				}
			}
			&.daily-hourly{
				h4{
					padding: 19px;
					padding-bottom: 10px;
					min-height: 67px;
				}
				.caption{
					background: rgba(157, 204, 84, 0.9);
				}
			}

		}// item

		&.latest{
			.preview-img{
				height: 123px;
				width: 144px;
				background-position: 50% 25% !important;
				background-size: 100% 100%;
			}
		}

		
	}//style-2


	&.style-3{
		 padding-top: 25px;
		.item{
			border-radius:2px;
			margin-bottom: 25px;
			.preview-img{
				float: left;
				width: 40%;
				img{
					width: 100%;
					height: 150px;
					border-top-left-radius: 2px;
					border-bottom-left-radius: 2px;
				}
			}
			&.banner img{ //temp
				width: 100%;
				height: 324px;
			}
			h4{
				margin:0;
				padding: 25px;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.info-block{
				border-top-right-radius: 2px;
				width: 60%;
				background: #fff;
				float: left;
				text-align: left;
				height: 150px;
				position:relative;
				ul{
					padding-left: 15px;
					padding-right:15px;
					padding-top:10px;
					color:#626262;
					li:first-child{
						font-family: 'Studio-02' !important;
					}
					li{
						line-height:20px;
					}
				}

			}
			.caption{
				text-align: center;
				padding: 8px 12px 8px 12px;
				border-bottom-right-radius: 2px;
				color: #fff;
				position: absolute;
				width: 100%;
				bottom: 0;
			}

			&.daily{
				.caption{
					background: rgba(54, 172, 148, 0.9);
				}
			}
			&.hourly{
				.caption{
					background: rgba(61, 155, 219, 0.9);
				}
			}

			&.daily-hourly{
				.caption{
					padding: 0;
					.cap-day{
						background: rgba(54, 172, 148, 0.9);
						width: 50%;
						float: left;
						text-align: center;
						padding:8px 12px 8px 12px;
					}
					.cap-hour{
						background: rgba(61, 155, 219, 0.9);
						width: 50%;
						float: left;
						text-align: center;
						padding:8px 12px 8px 12px;
					}
					
				}
			}
		}// item
	}//style-3


}//block-items


.banner-style-1{
	position:relative;
	width: 728px;
	height: 90px;
	margin: auto;
	img{
		width: 100%;
		border-radius:2px;
	}
	.ban-caption{
		position: absolute;
		top: 0;
		right: 0;
		background: rgba(239, 243, 246, 0.73);
		padding: 8px 11px;
		color: #909BA2;
		font-size: 12px;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 2px;
	}
}


//chackboxes overide
.checkbox label, .radio label {
	padding-left:7px;
	/*margin-bottom: -19px;*/
}

.checkbox label::before{
	width: 14px;
	height: 14px;
	border:0;
}

.checkbox label::after {
    width: 12px;
    height: 12px;
    font-size: 8px;
    color: #428E86;
    padding-top:2px;
}

.checkbox, .radio {
    margin-top: 11px;
    margin-bottom: 13px;
}

footer{
	margin-top: 70px;
	.bc{
		background:url('../images/bc.svg') no-repeat;
		background-position-x: 50%;
		background-size: cover;
		width: 100%;
		height: 235px;
		margin-bottom: -3px;
	}
}

.footer-menu{
	background: #63B9AF;
	padding: 40px 0;
	a{
		color:#fff;
		display: block;
		text-align: left;
		font-size: 16px;
	}
}

.footer-ex-menu{
	height: 120px;
	background:#4FABA0;
	display:block;
	.created{
		background:url('../images/created.png');
		width: 69px;
		height: 34px;
		margin: 20px 19px;
		float: right;
	}
}




//search page
#search-page{

	.rank_1 {
		&:before {
			background: url('../images/Untitled-1-Recovered.png')no-repeat;
		    background-position: -69px 17px;
		    content: '';
		    display: inline-block;
		    position: absolute;
		    width: 64px;
		    height: 98px;
		    top: -18px;
		    left: 15px;

		}
	}
	.rank_2 {
		&:before {
			background: url('../images/Untitled-1-Recovered.png')no-repeat;
		    background-position: -1px 17px;
		    content: '';
		    display: inline-block;
		    position: absolute;
		    width: 64px;
		    height: 98px;
		    top: -18px;
		    left: 15px;

		}
	}
	// map

	.map-area{
		padding-left: 0;
		position:relative;
		width: 457px;
		top:0;
	}
	.page-header{
		display: none;
	}

	#map{
		height: 680px;
		padding-left:0;
		margin-top: 25px;
	}

	.map-tooltip{
		background:#e27677;
		padding:5px;
		width: 60px;
		cursor: pointer;
	}

	.map-item{
		width:100%;
		img{
			width:100%;
		}
		.caption{
			background: #49B49E;
			color: #fff;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			padding: 5px;
			text-align: center;
			font-family: 'Studio-02' !important;
		}
		.price-hour,.price-day{
			color: #396280;
			padding:8px 2px;
			font-weight: bold;
			float: left;
			width: 50%;
		}
		.price-day{
			color: #3e8e85;
		}
		ul{
			padding:0;
		}
		li{
			color: #626262;
		}

	}
	

	.items{
		padding-right:0px;
	}
	.block-items{
		margin-right:5px;
		margin-top: 25px;
		padding-top:0;
		min-height: 680px;
		.row{
			margin-right: 0;
		}
	}

	.pagination {
	    margin-left: 15px;
	    margin-right: 15px;
	    text-align: center;
	    display: block;
	    .btn{
	    	width: 70%;

	    }
	}
}


//single page

.single-page{
	.application-info{
		background:#fff;
		color:#565a5c;
		padding:20px 5px;
		.user-avatar{
			float: left;
		}
		.the-legend {
		    border-style: none;
		    border-width: 0;
		    line-height: 20px;
		    margin-bottom: 0;
		    width: inherit;
		    h3{
		    	font-size: 16px;
		    	font-weight: bold;
		    	color: #505050;
		    }
		}
		.the-fieldset {
		    border: 2px groove threedface #444;
		    -webkit-box-shadow:  0px 0px 0px 0px #000;
		            box-shadow:  0px 0px 0px 0px #000;
		}
		.space{
			td{
				width: 50%;
				padding: 3px;
				b{
					color:#335EA7;
				}
			}
		}

		h1{
			font-size: 18px;
			float: left;
			display: block;
			margin-left: 15px;
			margin-top: 9px;
			span{
				display: inherit;
				font-family: glaho;
				font-size: 15px;
				margin-top: 3px;
			}
		}

		h2,h3{
			font-size: 18px;
		}
		section{
			margin-bottom: 25px;
			width: 100%;
			float: left;
			&:after{
				clear: both;
				content:"1";
				visibility: hidden;
			}
		}
		.price-table{
			margin-top: 15px;
			.price{
				width: 100%;
				padding:10px 20px;
				color:#fff;
				text-align: center;
				border-radius:2px;
				margin-bottom: 8px;
				i{
					font-weight: bold;
					font-size: 18px;
				}
				&.daily{
					background:#2eac93;
				}
				&.hourly{
					background:#3498db;
				}
			}
		}
		.contact-table{
			background:#f3f9fd;
			padding:10px 20px;
			h5{
				text-align: center;
				font-weight: bold;
			}
			ul{
				padding-left:0;
			}
			li{
				padding-bottom:8px;
				padding-top:8px;
			}

		}
	}

	.active{
		i:before {
		    content: "\f055";
		    color: #289501;
		    font-size: 16px;
		}
	}
	.passive{
		opacity: 0.7;
		i:before{
			content: "\f056";
			font-size: 16px;
			color: #930000;
		}
	}
	.meta-info{
		li{
			margin-left: 28px;
		    color: #565a5c;
		    margin-top: 12px;
			&:first-child{
				margin-left:0;
			}
		}
	}
	.app-rank-cont{
		
	    margin-top: -40px;
	    margin-left: -15px;
	}
	.similar-apps .lSSlideOuter{
		    padding: 15px;
		    background: rgb(227, 227, 227);
		    .lSAction a{
		    	margin-top: -27px;
		    	&:before {
					display:none;
				}
			}
	}

}

//single slider

.home-slider {
    width:100%;
    margin:10px 0px;
    background: #fff;
    padding: 12px 12px;
    img {
        display: block;
        height: auto;
        max-width: 100%;
        margin:auto;
    }
    ul {
        list-style: none outside none;
        padding-left: 0;
        margin-bottom:0;
    }
    li {
        display: block;
        float: left;
        margin-right: 6px;
        cursor:pointer;
    }
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover{
	border-radius:0;
}



.lSSlideOuter.vertical .lSAction>.lSNext{
	bottom:0;
	&:before {
		background-position: 31px -31px;
		bottom: 15%;
		top: inherit;
		margin-bottom: -15px;
	}
	
}
.lSSlideOuter.vertical .lSAction>.lSPrev{
	top:0;
	&:before {
		background-position: 0 -31px;
		top: 15%;
	}
	
}
.lSSlideOuter.vertical .lSAction>a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
    width: 100%;
    height: 50%;
    left: 0;
    background: none;
}

.lSAction a:before {
	content: "";
	width: 32px;
	display: block;
	top: 50%;
	left: 50%;
	height: 32px;
	background-image: url("../images/controls.png");
	cursor: pointer;
	position: absolute;
	z-index: 99;
	margin-top: -16px;
	margin-left: 16px;
	opacity: .5;
	-webkit-transition: opacity .35s linear 0s;
	transition: opacity .35s linear 0s;
}




//registration page

section.heading{
	background: #63B9AF;
	color:#fff;
	padding:20px 0;
	h1{
		font-size: 22px;
		font-weight: bold;
		margin:0;
	}
}
.profile-info{
	.user-avatar{
		float: left;
	}
	ul{
		margin: 8px -24px;
		float: left;
	}
	li{
		font-size: 16px;
	}
}

.balance{
	background: #fff;
	color: #63B9AF;
	border-radius: 2px;
	float: right;
	margin-top: 14px;
	width: 88px;
	text-align: center;
	padding: 9px 10px 9px 10px;
	i{
		font-size: 16px;
		font-weight: bold;
		display: block;
		padding-top: 4px;
	}
}

.profile-edit-btn{
	margin-top:16px;
}

.balance-edit-btn{
	margin-top:5px;
}



.reg-login,.site-page{
	background: #fff;
	color: #565a5c;
	padding: 25px 5px;
	padding-bottom:40px;
	margin: 30px auto;
	min-height: 410px;
	.form-group label{
		font-weight: normal;
	}
	h2{
		margin:0;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 38px;
	}
	.tab-content{
		margin-top: 15px;
	}
	.nav-tabs li{
		font-size: 12px;
	}
}


//user area

.application-page{
	background: #fff;
	color: #565a5c;
	padding: 25px 5px;
	padding-bottom:40px;
	margin: 15px auto;
	.submit-form{
		float:right;
	}
	.language{
		border-bottom:0;
		li a{
			padding: 9px 9px;
			font-size: 11px;
			padding-bottom: 6px;
	    	img{
	    		margin-top: -5px;
	    	}
		}
	}
}

.upload-file{
	article{
		float:left;
		position:relative;
		margin-left: 15px;
		margin-bottom: 15px;
		border: 2px solid #ddd;
		img{
			width: 220px;
			height: 113px;
		}
		&:hover .delete,&:hover .ajax-delete,&:hover .add-as-main-image{
			display: block;
		}
		.add-image.prewimg{
			cursor: pointer;
		}
		&.main-image{
			border:2px solid green;
		}

	}

	
	input{
		display: none;
	}
	.ajax-delete,.delete{
		position: absolute;
		right: 4px;
		background: rgba(67, 67, 67, 0.6);
		padding: 2px 10px;
		color: #fff;
		font-size: 25px;
		display: none;
	}
	.add-as-main-image{
		position: absolute;
		right: 4px;
		background: rgba(67, 67, 67, 0.6);
		padding: 4px 10px;
		color: #fff;
		font-size: 14px;
		bottom: 4px;
		width: 96%;
		text-align: center;
		display: none;
	}
}


.application-list{
	.block-items {
		padding-top:0;
		.rank_0{
			&:before{
				content:"";
				background:red;
				width: 10px;
				height: 10px;
			}
		}
		.rank_2{
			&:before{
				background: url('../images/Untitled-1-Recovered.png')no-repeat;
			    background-position: 0px 18px;
			    content: '';
			    display: inline-block;
			    position: absolute;
			    width: 65px;
			    height: 102px;
			    top: 16px;
			    left: 14px;
			    z-index: 2;
			}
		}
		.rank_1{
			&:before{
				background: url('../images/Untitled-1-Recovered.png')no-repeat;
			    background-position: -71px 18px;
			    content: '';
			    display: inline-block;
			    position: absolute;
			    width: 65px;
			    height: 102px;
			    top: 16px;
			    left: 14px;
			    z-index: 2;
			}
		}
		.app-date{
			background: #fff;
		    padding: 8px 6px 6px 6px;
		    color: #656565;
		    .end{
		    	float: right;
		    }
		}
		.preview-img:hover .overlay{
			display: block;
		}
		.overlay{
			display: none;
			position:absolute;
			background: rgba(67, 67, 67, 0.6);
			top:0;
			right: 0;
			padding:5px 5px 5px 5px;
			a{
				color: #fff;
				font-family: 'Studio-02' !important;
				margin-left: 10px;
				margin-right: 10px;
				&:hover{
					text-decoration: none;
				}
			}
			.edit{

			}
			
			.delete{
				i{
					color:red;
				}
			}

		}
	}

	
}




//butstrap addons

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.bs-callout-info {
    border-left-color: #1b809e;
  	height:	105px;
    h4 {
        color: #1b809e;
    }
}

.bs-callout p:last-child {
    margin-bottom: 0;
}


//signs

.block-items .caption {
	.usd-sign:before,.gel-sign{
		margin-left: 2px;
	}
}

.usd-sign:before{
	content:"$";
	font-weight: bold;
}

.gel-sign{
	display: inline-block;
	font: normal normal normal 14px/1 FontLarisome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	font-size: 14px;
	font-weight: bold;
	&:before{
		content: 'a';
	}
}

.arr-none{
	-moz-appearance:textfield;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}
}
.ms-drop.bottom {
	overflow: visible;

}

/*
 Aquaria contact form style
*/

.attach_bt span{
    font-family:Lato;
}
.aquaria_module {
    margin-bottom:20px;
    float: left !important;
    padding-right: 15px !important;
}
.aquaria_title{
    padding-left: 0 !important;
}

.aquaria_title h2{
    margin: 0;
}

.aquaria_module textarea {
    height:150px !important;
}

.aquaria_module select, .aquaria_module input{
    height: 40px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.aquaria_module select{
    line-height:33px;
}

.aquaria_module span{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.aquaria_module p{
    margin-bottom: 0;
}

.aquaria_module .input_p{
    margin-bottom: 0px;
}
.aquaria_module .separ{
    border-top: 1px solid rgb(132, 132, 132);
    margin-bottom: 0;
}

.aquaria_module .checkbox label, .aquaria_module .radio label{
  padding-right: 20px !important;
  padding-left: 5px !important;
}

.aquaria_module .radio-inline+.radio-inline, .aquaria_module .checkbox-inline+.checkbox-inline {
  margin-left: 0px !important;
}

#aquaria_form_alert {
    margin-right: 15px;
    display:none
}

#aquaria_form_alert span {
    margin-left: 7px;
}

#aquaria_captcha .fa-refresh {
    font-size: 16px !important;
    cursor: pointer!important;
    color: #797979;
    position: absolute;
    z-index: 99;
    top: 35%;
    left: 0;
    margin-left: 148px;
}

#aquaria_captcha_pic{
    height: 38px;
    vertical-align: middle;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    padding: 1px 36px 0px 4px;
}

.aquaria_captcha_addon{
    width: 170px;
    padding: 0;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-right: 0;
}

.attach_bt i{
   position: absolute;
  left: 11px;
  top: 29%;
}



.attach_bt .attach_h{
  display: block;
  max-width: 285px;
  padding-left: 5px;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

#aquaria_form_submit  {
    margin-bottom:20px;
    padding-right: 15px !important;
    float: right !important;
}


.input-group-addon{
    width: 42px !important;
}

.ms-choice{
	border:0;
	webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

}

.ms-drop ul>li.multiple {
    display: block;
    float: left;
    width: 100% !important;
    margin-top: -6px;

}

.ms-drop {
    background: #63B9AE;
    color:#fff;
    border:none;
}

.ms-search{
	color: #333;
}

.ms-drop ul{
	overflow-x: hidden;
}

.ms-drop ul>li.multiple label{
	overflow: visible;
}

.region-select{
	ul{
		margin-left: 8px;
	}
	.ms-drop ul>li.group {
	    margin-left: -8px;
	}
}





@media only screen and (max-width: 770px) {
    section{
        width: 100%;
    }
    .aquaria_module, #aquaria_form_submit{
        padding-right: 0px !important;
    }
    .copy{
      text-align: center;
    }

    #aquaria_form_alert{
        margin-right: 0px !important;
    }
    .attach_bt .attach_h{
      max-width: 200px;
    }
}/*end aquaria form*/

.contact-info{
	padding-left: 10px;
}
.contact-info span{
	font-size:14px;
}
.contact-info i{
	font-size: 16px;
	color: #5CB85C;
	width: 20px;
	text-align: center;
	padding-bottom: 15px;
}

#birth_date{
	width: 100%;
}

.cols-ref{
	border-right: 1px dashed #A5A5A5;
    padding-right: 30px;
}


#loading-page{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 999;
	color: #fff;
	img{
		position:relative;
		top:50%;
		left:50%;
		margin-left: -62px;
		margin-top: -62px;
	}
}








/************responsive***********/
.navbar-toggle{
	display:block;
	border-radius: 2px;
	margin-top: 2px;
	margin-right: 10px;
	.icon-bar{
		background:#fff;
	}
}

.navbar-default {
    background: transparent;
    border-top: 0;
    border-left:0;
    border-right:0;
}

._search-link{
	padding: 11px 0px 8px 0px;
	font-family: 'Studio-02' !important;
	&:after {
	    content: '';
	    background: url("../images/sprite.png");
	    background-position: -6px -66px;
	    float: right;
	    width: 17px;
	    height: 16px;
	    margin-right: 10px;
	}
}

.mob,.mob2{
	display:none !important;
}


@media only screen and (max-width: 1200px) {
	.lap1{
		top: 23px;
		right: 0;
		// width: 50%;
		position: absolute;
	}
	.block-items.style-2 .item .info-block {
    	width: 68%;
    }

    .language-swither {
        margin-top: 5px;
        margin-left: 11px;
    }
    .application-list .block-items .overlay{
			display: block;
	}
	.lSAction a:before {
		display: none;
	}
	.home-slider img {
		width: 100%;
    }
}


@media only screen and (max-width: 992px) {
	.cols-ref{
		border:0;
		padding-right: 15px;
		margin-bottom: 35px;
	}

	#search-page{
		#map{
			display: none;
		}
	}

	.block-items.style-2 .item .info-block {
		width: 58%;
	}
	.user-area{
		.avatar{
			display: none;
		}
		.text{
			margin-right: 0;
		}
	}
	.detail-search-link{
		width: 100%;
		margin-right: 10px;
		font-family: 'Studio-02' !important;
	}
	.desc2{
		display: none;
	}
	.mob2{
		display: block !important;
	}
	.app-rank-header{
		width: 100%
	}


}


// @media screen and (max-width: 950px) {
// 	.footer-ex-menu .created {
// 		    margin: -5px 19px;
// 	}

// }
// @media screen and (max-width: 505px) {

// 	.footer-ex-menu .created {
// 		    margin: -57px 19px;
// 	}

// }
// @media screen and (max-width: 500px) {
// 	.footer-links {
// 		top: 9px!important;
// 	}
	

// }


@media only screen and (max-width: 769px) {
	.desc{
		display: none ;
	}
	.mob{
		display: block !important;
	}
	.banner-style-1{
		width: 100%;
		height: auto;
	}

	header .container {
	    padding: 10px 0;
	    padding-bottom: 0;
	}
	.detail-search-link{
		width: 100%;
		margin-right: 10px;
		font-family: 'Studio-02' !important;
	}
	.main{
		.block-items {
			margin-right: 15px;
			margin-left: 15px;
		}
	}
	.logo{
		margin-top: -16px;
	}
	#search-page{
		.block-items{
			.preview-img{
				width: 100%;
				img{
					height: auto;
				}
			}
			.info-block{
				width: 100%;
			}
		}
		.item .info-block{
			// ul li{
			// 	display: none;
			// }
			// .lap2{
			// 	display: block;
			// }
		} 
	}
	
	
}

@media only screen and (max-width: 500px) {
		.block-items.style-2 .item .info-block {
		    width: 100%;
		}
		.block-items.style-2.latest .preview-img {
	    	height: 190px;
	    	width: 100%;
		}


}

@media only screen and (max-width: 1124px) {

.social {
	text-align: center;
    clear: both;
    width: 21%!important;
    position: relative!important;
    top: 10px!important;
    left: 2%!important;
    float:none!important;
}
}
@media only screen and (max-width: 540px) {

.social {
	text-align: center;
    clear: both;
    width: 42% !important;
    position: relative!important;
    top: 10px!important;
    left: 2%!important;
    float:none!important;
}
.footer-ex-menu .created {
    background: url("../images/created.png");
    width: 69px;
    height: 34px;
    margin: -51px 19px!important;
    float: right;
}
}
@media only screen and (max-width: 525px) {

.social {
	text-align: center;
    clear: both;
    width: 51% !important;
    position: relative!important;
    top: 10px!important;
    left: 2%!important;
    float:none!important;
}
.footer-ex-menu .created {
    background: url("../images/created.png");
    width: 69px;
    height: 34px;
    margin: 0px 19px !important;
    float: right;
}
}
@media only screen and (max-width: 364px) {

.social {
	display:none!important
}
}
@media only screen and (max-width: 800px) {
	.footer-ex-menu .created {
    background: url("../images/created.png");
    width: 69px;
    height: 34px;
    margin: 2px 19px !important;
    float: right;
}

}

.social {
	clear: both;
    text-align: center;
    width: 20%;
    float: right;
    position: relative;
    top: -28px;
}

.footer-single-text h2 {
	color: white;
}
.footer-single-text p {
	color: white;
}







