.admin-header{
	margin-bottom: 0px !important;
}
.side-menu-col{
	padding-right: 0px !important;
}
.side-menu li a{
	border-radius: 0px !important;
}
.add-button{
	float: right; 
	margin: 10px 10px 10px 10px;
	border-radius: 0px;
}
.edit-button{
	width: 49%;
	border-radius: 0px;
}
.delete-button{
	width: 49%;
	border-radius: 0px;
}
.main-content-admin{
	padding-top: 20px;
}
.btn{
	border-radius: 0px !important;
}
.actions{
	min-width: 210px;
}
.set-profile {
      display: block;
}